{{!app/templates/components/mensagem-validacao.hbs}}

{{#each erros as |erro|}}
    
    <div class="erro alert alert-warning" role="alert">{{erro.message}}
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
    </div>

{{/each}}
