<p>
  {{link-to "Telefone list" "telefones.index" }}
</p>

<h1>Telefone show</h1>

<p>
  <strong>Prefixo:</strong>
  <span>{{model.prefixo}}</span>
</p>

<p>
  <strong>Numero:</strong>
  <span>{{model.numero}}</span>
</p>

