<button {{action 'nova'}}>Nova</button>
<br/>

<label for="filtro-nome">Filtrar por nome</label>
{{input id="filtro-nome" value=nome}}
<br/>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  {{#each model as |pessoa|}}
    <tr>
      <td>
        {{#link-to 'pessoa' pessoa.id}}{{pessoa.nome}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>